/* Stylesheet for the 'eXtremeManagement' Plone theme */

h1#project-header {
    border-style: none;
}

h1#project-header a {
    font-weight: bold;
    font-size: 200%;
    color: #436976 !important;
    padding:0.2em 0.5em 0 1em;
}

/* *** Start submenus *** */
#my-projects-menu .project-submenu ul {
  background-color: #DEE7EC;
  border: 1px solid #8CACBB;
}

.project-submenu li a {
  border-width: 0;
  margin: 0;
  padding: 0 5px 0 5px;
}

#my-projects-menu .project-submenu li a:hover {
  color: #FFFFFF;
  background-color: #8CACBB;
}

.project-submenu li.selected {
  border-width: 0;
  margin: 0;
  padding: 0 5px 0 5px;
  color: #FFFFFF;
  background-color: #8CACBB;
}

.project-submenu li.selected a {
  color: #FFFFFF;
  background-color: #8CACBB;
  margin: 0;
  padding: 0;
}

table .IterationTitle th {
  background: url(++resource++xm.theme.images/iterationBG.jpg) repeat-x;
  white-space: nowrap;
  font-weight: bold;
}

table .IterationTitle a {
  color: #000;
}

#story-listing a:hover {
  color: #000;
  text-decoration: none;
}

.progress_percentage span {
  display: none;
}

#story-listing #task-list-for-story {
  font-size: 100%;
}

#story-listing .StatusOfStories th {
  background-color: #d8e8bb;
}

#story-listing .storyHeader {
  width: 50%;
}

#story-listing .statusHeader {
  width: 10%;
}

#story-listing .initEstimateHeader {
  width: 10%;  
}

#story-listing .tasksEstimateHeader {
  width: 10%;
}

#story-listing .actualHoursHeader {
  width: 10%;
}

#story-listing .totalOfProject th {
  text-align: right;
  font-weight: bold;
  text-transform: none;
  background-color: #EDEBEB;
  padding: 6px 3px;
  font-size: 110%;
}